[Desktop Entry]
Name=Email Notifier
Name[pt]=Notificação de E-Mail
Name[uk]=Сповіщення про електронну пошту
Name[x-test]=xxEmail Notifierxx
Comment=Keep an Eye on your Inbox
Comment[pt]=Manter uma Vista de Olhos sobre a sua Caixa do Correio
Comment[uk]=Наглядайте за вашою текою вхідної пошти
Comment[x-test]=xxKeep an Eye on your Inboxxx
Type=Service
Icon=mail-folder-inbox
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-KDE-Library=plasma_applet_emailnotifier
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=org.kde.emailnotifier
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://akonadi.kde.org/
X-KDE-PluginInfo-Category=Communications
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-NotificationArea=true
