[Desktop Entry]
Name=Email Notifier
Name[cs]=Upozornění na e-mail
Name[de]=E-Mail-Benachrichtigung
Name[es]=Notificador de correo electrónico
Name[et]=Kirjade teavitaja
Name[fi]=Sähköposti-ilmoitin
Name[fr]=Notificateur de courriels
Name[hu]=E-mail értesítő
Name[km]=កម្មវិធី​ជូន​ដំណឹង​អ៊ីមែល
Name[nds]=Nettpost-Bescheden
Name[nl]=Melder voor e-mail
Name[pl]=Powiadomienie o e-mailu
Name[pt]=Notificação de E-Mail
Name[pt_BR]=Notificador de e-mails
Name[sv]=Brevunderrättelse
Name[uk]=Сповіщення про електронну пошту
Name[x-test]=xxEmail Notifierxx
Comment=Keep an Eye on your Inbox
Comment[de]=Behalten Sie Ihren Posteingang im Auge
Comment[es]=Monitoriza su bandeja de entrada
Comment[et]=Silma peal hoidmine oma e-kirjadel
Comment[fi]=Pidä sähköpostiasi silmällä
Comment[fr]=Garde un œil sur votre boîte de réception
Comment[hu]=Tartsa rajta a szemét a bejövő üzeneteken
Comment[km]=មើល​ប្រអប់​ទទួល​របស់​អ្នក
Comment[nl]=Houdt uw postvak-in in de gaten
Comment[pl]=Miej oko na swoją skrzynkę otrzymanych
Comment[pt]=Manter uma Vista de Olhos sobre a sua Caixa do Correio
Comment[pt_BR]=Dar uma olhada nos seus e-mails
Comment[sv]=Håll ett öga på din inkorg
Comment[uk]=Наглядайте за вашою текою вхідної пошти
Comment[x-test]=xxKeep an Eye on your Inboxxx
Type=Service
Icon=mail-folder-inbox
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-KDE-Library=plasma_applet_emailnotifier
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=org.kde.emailnotifier
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://akonadi.kde.org/
X-KDE-PluginInfo-Category=Communications
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-NotificationArea=true
