[Desktop Entry]
Name=Email Notifier
Name[es]=Notificador de correo electrónico
Name[et]=Kirjade teavitaja
Name[nds]=Nettpost-Bescheden
Name[nl]=Melder voor e-mail
Name[pt]=Notificação de E-Mail
Name[pt_BR]=Notificador de e-mails
Name[uk]=Сповіщення про електронну пошту
Name[x-test]=xxEmail Notifierxx
Comment=Keep an Eye on your Inbox
Comment[es]=Monitoriza su bandeja de entrada
Comment[et]=Silma peal hoidmine oma e-kirjadel
Comment[nl]=Houdt uw postvak-in in de gaten
Comment[pt]=Manter uma Vista de Olhos sobre a sua Caixa do Correio
Comment[pt_BR]=Dar uma olhada nos seus e-mails
Comment[uk]=Наглядайте за вашою текою вхідної пошти
Comment[x-test]=xxKeep an Eye on your Inboxxx
Type=Service
Icon=mail-folder-inbox
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-KDE-Library=plasma_applet_emailnotifier
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=org.kde.emailnotifier
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://akonadi.kde.org/
X-KDE-PluginInfo-Category=Communications
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-NotificationArea=true
