[Desktop Entry]
Name=LionMail
Name[en_GB]=LionMail
Name[es]=LionMail
Name[et]=LionMail
Name[fr]=LionMail
Name[ga]=LionMail
Name[gl]=LionMail
Name[hr]=LionMail
Name[km]=LionMail
Name[nds]=LionMail
Name[pt]=LionMail
Name[pt_BR]=LionMail
Name[ro]=LionMail
Name[sv]=Lionmail
Name[tr]=LionMail
Name[uk]=LionMail
Name[x-test]=xxLionMailxx
Comment=Keep a sharp eye on your emails
Comment[en_GB]=Keep a sharp eye on your emails
Comment[es]=Monitoriza sus correos-e
Comment[et]=Silma peal hoidmine oma e-kirjadel
Comment[fr]=Gardez un oeil sur vous courriers électroniques
Comment[gl]=Non perde de vista o correo
Comment[hr]=Bacite oštro oko na Vašu e-poštu
Comment[km]=រក្សា​រូបរាង​ភ្នែក​នៅ​លើ​អ៊ីមែល​របស់​អ្នក
Comment[nds]=Dien Nettpost jümmers op de Tell hebben
Comment[pt]=Dar uma vista de olhos nos seus e-mails
Comment[pt_BR]=Dar uma olhada nos seus e-mails
Comment[ro]=Vegheați asupra poștei
Comment[sv]=Håll ögonen på din e-post
Comment[uk]=Наглядайте за вашими листами електронної пошти
Comment[x-test]=xxKeep a sharp eye on your emailsxx
Type=Service
Icon=akonadi
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_lionmail
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=lionmail
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://akonadi.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
