[Desktop Entry]
Name=LionMail
Name[sv]=Lionmail
Comment=Keep a sharp eye on your emails
Comment[gl]=Non perde de vista o seu correo
Comment[nds]=Dien Nettpost jümmers op de Tell hebben
Comment[pt]=Dar uma vista de olhos nos seus e-mails
Comment[pt_BR]=Dar uma vista de olhos nos seus e-mails
Comment[sv]=Håll ögonen på din e-post
Comment[uk]=Наглядайте за вашими листами електронної пошти
Type=Service
Icon=akonadi
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_lionmail
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=lionmail
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://akonadi.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
