[Desktop Entry]
Name=LionMail
Name[cs]=LionMail
Name[de]=LionMail
Name[es]=LionMail
Name[et]=LionMail
Name[fi]=LionMail
Name[fr]=LionMail
Name[ga]=LionMail
Name[hu]=LionMail
Name[km]=LionMail
Name[nds]=LionMail
Name[nl]=LionMail
Name[pl]=LionMail
Name[pt]=LionMail
Name[pt_BR]=LionMail
Name[ro]=LionMail
Name[sk]=LionMail
Name[sv]=Lion e-post
Name[uk]=LionMail
Name[x-test]=xxLionMailxx
Comment=Keep a sharp eye on your emails
Comment[de]=Behalten Sie Ihre E-Mails im Auge
Comment[es]=Monitoriza sus correos
Comment[et]=Silma peal hoidmine oma e-kirjadel
Comment[fi]=Pidä sähköpostiasi tarkasti silmällä
Comment[fr]=Garde un œil vigilant sur vos courriels
Comment[hu]=Tartsa rajta a szemét az e-mailjein
Comment[km]=មើល​អ៊ីមែល​របស់​អ្នក
Comment[nds]=Dien Nettpost jümmers op de Tell hebben
Comment[nl]=Houdt uw e-mailberichten scherp in de gaten
Comment[pl]=Miej oko na swoje e-maile
Comment[pt]=Manter uma vista de olhos sobre o seu correio
Comment[pt_BR]=Dar uma olhada nos seus e-mails
Comment[sk]=Pozrite sa pozorne na vaše e-maily
Comment[sv]=Håll ett öga på din e-post
Comment[uk]=Наглядайте за вашими листами електронної пошти
Comment[x-test]=xxKeep a sharp eye on your emailsxx
Type=Service
Icon=akonadi
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_lionmail
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=lionmail
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://akonadi.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
