[Desktop Entry]
Name=LionMail
Name[es]=LionMail
Name[et]=LionMail
Name[nds]=LionMail
Name[nl]=LionMail
Name[pt]=LionMail
Name[pt_BR]=LionMail
Name[uk]=LionMail
Name[x-test]=xxLionMailxx
Comment=Keep a sharp eye on your emails
Comment[es]=Monitoriza sus correos
Comment[et]=Silma peal hoidmine oma e-kirjadel
Comment[nds]=Dien Nettpost jümmers op de Tell hebben
Comment[nl]=Houdt uw e-mailberichten scherp in de gaten
Comment[pt]=Manter uma vista de olhos sobre o seu correio
Comment[pt_BR]=Dar uma olhada nos seus e-mails
Comment[uk]=Наглядайте за вашими листами електронної пошти
Comment[x-test]=xxKeep a sharp eye on your emailsxx
Type=Service
Icon=akonadi
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_lionmail
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=lionmail
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://akonadi.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
