[Desktop Entry]
Comment=Shows an Email
Comment[es]=Muestra un correo
Comment[et]=E-kirjade näitamine
Comment[nl]=Toont een e-mailbericht
Comment[pt]=Mostra um E-mail
Comment[pt_BR]=Mostrar um e-mail
Comment[sv]=Visar e-post
Comment[uk]=Показує лист
Comment[x-test]=xxShows an Emailxx
Encoding=UTF-8
Keywords=
Name=Mail Message
Name[es]=Mensaje de correo
Name[et]=E-kiri
Name[nl]=E-mailbericht
Name[pt]=Mensagem de E-mail
Name[pt_BR]=Mensagem de e-mail
Name[sv]=E-postbrev
Name[uk]=Поштове повідомлення
Name[x-test]=xxMail Messagexx
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=sebas
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=qmlemail
X-KDE-PluginInfo-Version=.2222
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=200,100
X-Plasma-MainScript=code/main.qml
X-Plasma-RemoteLocation=
