[Desktop Entry]
Comment=Shows an Email
Comment[cs]=Zobrazí e-mail
Comment[de]=Zeigt eine E-Mail an
Comment[es]=Muestra un correo
Comment[et]=E-kirjade näitamine
Comment[nds]=En Nettbreef wiesen
Comment[nl]=Toont een e-mailbericht
Comment[pt]=Mostra uma Mensagem de E-Mail
Comment[pt_BR]=Mostrar um e-mail
Comment[sv]=Visar ett brev
Comment[uk]=Показ листа
Comment[x-test]=xxShows an Emailxx
Encoding=UTF-8
Keywords=
Name=Mail Message
Name[cs]=Emailová zpráva
Name[es]=Mensaje de correo
Name[et]=E-kiri
Name[nl]=E-mailbericht
Name[pt]=Mensagem de Correio
Name[pt_BR]=Mensagem de e-mail
Name[sv]=Brev
Name[uk]=Поштове повідомлення
Name[x-test]=xxMail Messagexx
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=sebas
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.active.emailmessage
X-KDE-PluginInfo-Version=.2222
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=200,100
X-Plasma-MainScript=code/EmailMessage.qml
X-Plasma-RemoteLocation=
