[Desktop Entry]
Name=Email Message
Name[en_GB]=Email Message
Name[es]=Mensajes de correo
Name[et]=E-kiri
Name[fi]=Sähköpostiviesti
Name[fr]=Courrier électronique
Name[ga]=Teachtaireacht Ríomhphoist
Name[gl]=Mensaxe de correo
Name[hr]=Pošalji poruku e-poštom
Name[ja]=メールメッセージ
Name[km]=សារ​អ៊ីមែល
Name[nds]=Nettpost-Naricht
Name[nl]=E-mailbericht
Name[pa]=ਈਮੇਲ ਸੁਨੇਹਾ
Name[pt]=Mensagem de E-mail
Name[pt_BR]=Mensagem de e-mail
Name[ro]=Mesaj email
Name[sv]=E-postbrev
Name[tr]=E-posta İletisi
Name[uk]=Надіслати листа
Name[x-test]=xxEmail Messagexx
Comment=View an email
Comment[en_GB]=View an email
Comment[es]=Ver un correo-e
Comment[et]=E-kirja vaatamine
Comment[fi]=Lue sähköposti
Comment[fr]=Consulter un courrier électronique
Comment[ga]=Léigh teachtaireacht ríomhphoist
Comment[gl]=Lea un correo
Comment[hr]=Vidi e-poštu
Comment[ja]=メールを表示
Comment[km]=មើល​អ៊ីមែល
Comment[nds]=En Nettbreef ankieken
Comment[nl]=Bekijk een e-mailbericht
Comment[pa]=ਈਮੇਲ ਵੇਖੋ
Comment[pt]=Ver um e-mail
Comment[pt_BR]=Visualizar um e-mail
Comment[ro]=Vizualizați un email
Comment[sv]=Visa e-post
Comment[tr]=Bir e-posta göster
Comment[uk]=Перегляд листа
Comment[x-test]=xxView an emailxx
Icon=view-pim-mail
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-DropMimeTypes=message/rfc822
X-Plasma-DropUrlPatterns=akonadi:*type=message/rfc822*

X-KDE-Library=plasma_applet_emailmessage
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=emailmessage
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Communications
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

