[Desktop Entry]
Name=Email Message
Comment=View an email
Icon=view-pim-mail
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-DropMimeTypes=message/rfc822
X-Plasma-DropUrlPatterns=akonadi:*type=message/rfc822*

X-KDE-Library=plasma_applet_emailmessage
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=emailmessage
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Communications
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

