[Desktop Entry]
Name=Email Message
Name[gl]=Mensaxe de correo
Name[km]=សារ​អ៊ីមែល
Name[nds]=Nettpost-Naricht
Name[pt]=Mensagem de E-mail
Name[pt_BR]=Mensagem de E-mail
Name[tr]=E-posta İletisi
Name[uk]=Надіслати листа
Comment=View an email
Comment[gl]=Lea un correo
Comment[km]=មើល​អ៊ីមែល
Comment[nds]=En Nettbreef ankieken
Comment[pt]=Ver um e-mail
Comment[pt_BR]=Ver um e-mail
Comment[tr]=Bir e-posta göster
Comment[uk]=Перегляд листа
Icon=view-pim-mail
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_emailmessage
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=emailmessage
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

